:root {
  --color-a: #ffde7d;
  --color-b: #00b8a9;
  --color-c: #f6416c;
  --color-d: #1a535c;
}

.App {
  border-color: var(--color-a);
  color: var(--color-b);
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
}
