.card-footer {
  background-color: #f8f3d4;
  border-top: 1px solid var(--color-a);
  display: block;
  font-size: small;
  text-align: center;
}
.footer-link,
.footer-link:visited {
  color: var(--color-d);
}
