.Weather .card-body {
  padding: 5px;
}
.Weather input,
.Weather button.btn-search,
.Weather button.btn-location {
  margin: 0 5px 0 0;
}
.Weather .card {
  border-color: var(--color-a);
  margin: 5px 0;
  width: 100%;
}

.Weather .city-input {
  border-color: var(--color-a);
}
.Weather .city-input:focus {
  border-color: var(--color-a);
  box-shadow: 0 0 0 0.2rem rgb(255 222 125 / 25%);
}
.Weather .btn-search {
  border-color: var(--color-c);
  color: var(--color-c);
}
.Weather .btn-search:hover {
  background: var(--color-c);
  border-color: var(--color-c);
  transition: all 500ms ease;
}
.Weather .btn-search:active {
  border-color: var(--color-c);
  background: var(--color-c);
}
.Weather .btn-search:focus {
  box-shadow: 0 0 0 0.2rem rgb(246 65 108 / 25%);
}
.Weather .btn-location {
  border-color: var(--color-b);
  color: var(--color-b);
}
.Weather .btn-location:hover {
  background: var(--color-b);
  border-color: var(--color-b);
  transition: all 500ms ease;
}
.Weather .btn-location:active {
  border-color: var(--color-b);
  background: var(--color-b);
}
.Weather .btn-location:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 184 169 / 25%);
}

.Weather .card-footer {
  background-color: #f8f3d4;
  border-top: 1px solid var(--color-a);
  display: block;
  font-size: small;
}
.Weather .footer-link,
.Weather .footer-link:visited {
  color: var(--color-d);
}
